.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition: transform 0.3s, opacity 0.3s;
  position: absolute !important;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
}

.slide-left-leave-active{
  z-index: 1;
}
.slide-left-enter-active{
  z-index: 10;
}

.slide-right-enter-active{
  z-index: 1;
}
.slide-right-leave-active{
  z-index: 10;
}

.slide-left-enter-from {
  opacity: 1;
  transform: translateX(100%);
}
.slide-left-enter-to {
  //
}

.slide-left-leave-from{
  //
}
.slide-left-leave-to {
  opacity: .5;
  transform: translateX(-30%);
}


.slide-right-enter-from {
  opacity: 1;
  transform: translateX(-30%);
}
.slide-right-enter-to {
  //
}

.slide-right-leave-from {
  // 
}
.slide-right-leave-to{
  opacity: .5;
  transform: translateX(100%);
}